.tank-container {
  position: fixed;
  bottom: 105px;
  left: 10px;
  width: 50px;
  height: 300px;
  border: 4px solid #333;
  border-radius: 10px;
  overflow: hidden;
  background-color: #7a8c8f;
  margin: 20px;
  z-index: 1000;
}

.water {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: url('/src/Imagens/agua_animada_ondas.gif'); /* textura de onda */
  background-size: cover;
  background-repeat: repeat-x;
  animation: waveMove 4s linear infinite;
  transition: height 0.8s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1000;
}


